html {
    background-color: lavender;
}
.maker {
    margin-left: 600px;
}
.button {
    display: block;
    height: 100px;
    width: 200px;
    background: white;
    border: 2px solid rgba(33, 68, 72, 0.59);
    
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 1em/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
