html {
background-image: url("http://i.imgur.com/DZ3ANPZb.jpg");
};
h1 {
	font-family: Verdana;
	text-align: center;
}
h2 {
	
}

h3 {
	text-align: center;
	font-family: Verdana;
}

h4 {
	text-align: center;
	font-family: Verdana;
}

p {
	font-family: sans-serif;
	text-align: center;
}
